In [23]:
import pandas as pd
df_pop = pd.read_csv('population.csv') 
df_veg = pd.read_csv('vegetal.csv')
df_anim = pd.read_csv('animal.csv')

In [24]:
# 1) nettoyage des colonnes
df_anim.columns = df_anim.columns.str.strip()
df_anim.columns = df_anim.columns.str.lower()
df_anim.rename(columns=lambda x: x.replace(' ','_'), inplace=True)

df_veg.columns = df_veg.columns.str.strip()
df_veg.columns = df_veg.columns.str.lower()
df_veg.rename(columns=lambda x: x.replace(' ','_'), inplace=True)

df_pop.columns = df_pop.columns.str.strip()
df_pop.columns = df_pop.columns.str.lower()
df_pop.rename(columns=lambda x: x.replace(' ','_'), inplace=True)

In [25]:
# 2) Quelles sont les dimensions des jeux de données ?
# Deux dimensions

In [26]:
# 3) A quoi ressemblent les 5 premières lignes de mes jeux de données ?

df_pop.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(fbs),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,36686.78,X,Figure from international organizations
1,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 No,37769.50,X,Figure from international organizations
2,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,2877.01,X,Figure from international organizations
3,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 No,2873.88,X,Figure from international organizations
4,FBS,Food Balances (2010-),12,Algeria,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,41927.01,X,Figure from international organizations

In [27]:
df_anim.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(fbs),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.67,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.76,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/cap/d,14.92,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/cap/d,15.42,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/cap/d,1.12,E,Estimated value

In [28]:
# 4 
df_veg["type"]='vegetal'
df_anim['type'] = 'animal'

In [29]:
df_veg.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(fbs),item,year_code,year,unit,value,flag,flag_description,type
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2018,2018,kg,162.62,E,Estimated value,vegetal
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2019,2019,kg,160.40,E,Estimated value,vegetal
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2018,2018,kcal/cap/d,1365.34,E,Estimated value,vegetal
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2019,2019,kcal/cap/d,1346.93,E,Estimated value,vegetal
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2511,Wheat and products,2018,2018,g/cap/d,41.23,E,Estimated value,vegetal

In [30]:
# question 4
df_product = pd.concat([df_anim, df_veg], axis=0)
df_product.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(fbs),item,year_code,year,unit,value,flag,flag_description,type
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.67,E,Estimated value,animal
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.76,E,Estimated value,animal
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/cap/d,14.92,E,Estimated value,animal
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/cap/d,15.42,E,Estimated value,animal
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/cap/d,1.12,E,Estimated value,animal

In [36]:
# question 5 : nettoyage colonne population et renommer colonne 
# df_pop = df_pop.drop(['domain_code','domain','element_code','element','item_code_(fbs)','item','year_code','unit','flag','flag_description'], axis=1)
df_pop = df_pop.rename(columns={'value':'pop_1000_hab'})
df_pop.head()

   area_code_(m49)         area  year  pop_1000_hab
0                4  Afghanistan  2018      36686.78
1                4  Afghanistan  2019      37769.50
2                8      Albania  2018       2877.01
3                8      Albania  2019       2873.88
4               12      Algeria  2018      41927.01

In [53]:
# 6. Transformez product afin de ne garder que les colonnes area_code_(fao), area, element, item, year, type, unit.
# df_product = df_product.drop(['domain_code', 'domain', 'element_code', 'item_code_(fbs)','year_code','flag', 'flag_description'], axis=1)


df_product.head()

,area_code_(m49),area,element,item,year,unit,value,type
0,4,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2018,kg,2.67,animal
1,4,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2019,kg,2.76,animal
2,4,Afghanistan,Food supply (kcal/capita/day),Bovine Meat,2018,kcal/cap/d,14.92,animal
3,4,Afghanistan,Food supply (kcal/capita/day),Bovine Meat,2019,kcal/cap/d,15.42,animal
4,4,Afghanistan,Protein supply quantity (g/capita/day),Bovine Meat,2018,g/cap/d,1.12,animal

In [55]:
#7 Fusionnez df_pop avec product et nommez ce DataFrame df.

df = pd.merge(df_product, df_pop, on='area_code_(m49)', how = 'outer')
df.head()

,area_code_(m49),area_x,element,item,year_x,unit,value,type,area_y,year_y,pop_1000_hab
0,4,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2018,kg,2.67,animal,Afghanistan,2018,36686.78
1,4,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2018,kg,2.67,animal,Afghanistan,2019,37769.50
2,4,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2019,kg,2.76,animal,Afghanistan,2018,36686.78
3,4,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2019,kg,2.76,animal,Afghanistan,2019,37769.50
4,4,Afghanistan,Food supply (kcal/capita/day),Bovine Meat,2018,kcal/cap/d,14.92,animal,Afghanistan,2018,36686.78